__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
.env
.venv
env/
venv/
data/*
!data/.gitkeep
data/*.zip
data/*.tar
data/*.tar.gz
spec/
outputs/
!outputs/.gitkeep
*.pt
*.pth
*.ckpt
.DS_Store
Thumbs.db
*.log
wandb/
.idea/
.vscode/
*.ipynb_checkpoints/
src/analysis
src/train
src/evaluation